---
title: Stark & Wayne KAFKA™ for PCF (Beta)
owner: Partners
---

<p class="note warning">
<strong>WARNING!</strong>
The Stark & Wayne KAFKA™ for Pivotal Cloud Foundry (PCF) tile is currently in beta and
is intended for evaluation and test purposes only. 

Do not use this product in a PCF production environment.
</p>

The Stark & Wayne KAFKA™ for PCF brings Apache KAFKA™ to the PCF Platform.
Apache KAFKA™ is used for building real-time data pipelines and streaming apps.
It is horizontally scalable, fault-tolerant, highly responsive, and runs in production in thousands of companies.

The Stark & Wayne KAFKA™ tile brings KAFKA to everyone in your organization.
Each service instance is a Kafka topic to which an app can subscribe or publish.

## <a id='overview'></a>Overview

Stark & Wayne Kafka is the most approachable way to leverage Apache Kafka™ on PCF.
Easily provision your infrastructure to provide Kafka to your developers.
The tile includes ZooKeeper to manage Kafka's health. 

The tile also includes a Spark integration. 

Take a look at the Kafka [use cases](https://kafka.apache.org/uses) to figure out how you can extend your app. 

## <a id='features'></a>Key Features

Stark & Wayne KAFKA™ for PCF includes the following key features:

* Topic per Service
* Spark Integration
* ZooKeeper for high availablity

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about Stark & Wayne KAFKA™.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td>v0.7.2</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td> November 2, 2017</td>
    </tr>
    <tr>
        <td>Software component versions</td>
        <td>bigdata-boshrelease v0.7.0 (contains Kafka v0.11.0)<br/>
            kafka-service-broker-boshrelease v0.6.2</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.10.x, v1.11.x, and v1.12x</td>
    </tr>
    <tr>
        <td>Compatible Elastic Runtime version(s)</td>
        <td>v1.10.x, v1.11.x, and v1.12.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
    </tr>
    <tr>
        <td>IPsec support?</td>
        <td>No</td>
    </tr>
</table>

## <a id="reqs"></a>Requirements

Stark & Wayne KAFKA™ for PCF has the following requirements:

+ Redis for PCF

## <a id="limitations"></a>Limitations

There is no default backup built in, however, Stark & Wayne Shield for PCF can be used for backup.

## <a id="feedback"></a>Feedback

If you have a feature request, questions, or information about a bug, please email
[Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) list or send an email to support@starkandwayne.com

## <a id='license'></a>License

See our [End User License Agreement](eula.html)
