---
title: Stark & Wayne kStreams™ for PCF, powered by Apache Kafka
owner: Partners
---

<p class="note warning"><strong>WARNING:</strong>
The Stark & Wayne kStreams™ for Pivotal Cloud Foundry (PCF) tile is currently in beta and is intended for evaluation and test purposes only.
Do not use this product in a PCF production environment.</p>

The Stark & Wayne kStreams™ for PCF brings Apache Kafka™ to the PCF Platform.
Apache Kafka™ is used for building real-time data pipelines and streaming apps.
It is horizontally scalable, fault-tolerant, highly responsive, and runs in production in thousands of companies.

Stark & Wayne kStreams™ for PCF brings Kafka to everyone in your organization.
Each service instance is a Kafka topic to which an app can subscribe or publish.

## <a id='overview'></a>Overview

Stark & Wayne kStreams™ for PCF is the most approachable way to leverage Apache Kafka™ on PCF.
Easily provision your infrastructure to provide Kafka to your developers.
The tile includes ZooKeeper, which manages Kafka's health.

The tile also includes a Spark integration.

Take a look at the Kafka [use cases](https://kafka.apache.org/uses) to figure out how you can extend your app.

## <a id='features'></a>Key Features

Stark & Wayne kStreams™ for PCF includes the following key features:

* Topic per Service
* Spark Integration
* ZooKeeper for high availability

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about Stark & Wayne kStreams™.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td>v0.9.0</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>April 4, 2018</td>
    </tr>
    <tr>
        <td>Software component versions</td>
        <td>kafka-boshrelease v1.2.0 (contains Apache Kafka v1.1.0)<br/>
            zookeeper-release v0.0.8 (contains Apache ZooKeeper v3.4.8)<br/>
            kafka-service-broker-boshrelease v2.1.0 (contains Stark & Wayne kStreams-service-broker v2.1.0)</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v2.0.x, v2.1.x</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service (formerly known as Elastic Runtime) version(s)</td>
        <td>v2.0.x and v2.1.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
    </tr>
    <tr>
        <td>IPsec support?</td>
        <td>No</td>
    </tr>
</table>
\* As of PCF v2.0, <em>Elastic Runtime</em> is renamed <em>Pivotal Application Service (PAS)</em>. 

## <a id="reqs"></a>Requirements

Stark & Wayne kStreams™ for PCF has no additional requirements. Previously there was a requirement for Pivotal Redis for PCF prior to v0.8.0.

## <a id="limitations"></a>Limitations

There is no default backup built in, however, Stark & Wayne Shield for PCF can be used for backup.

## <a id="feedback"></a>Feedback

If you have a feature request, questions, or information about a bug, please email
[Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) list or send an email to support@starkandwayne.com

## <a id='license'></a>License

See our [End User License Agreement](eula.html)
