---
title: Installing and Configuring Stark & Wayne Kafka
owner: Partners
---

## <a id="requirements"></a>Requirements

* Pivotal Ops Manager&reg;
* Pivotal Cloud Foundry&reg;
* Redis for PCF&reg;

## <a id="redis"></a>Confirm Redis for PCF is Installed

On the Ops Manager dashboard confirm that Redis for PCF&reg; is already installed.

![redis-installed](images/preinstall-redis.png)

1. Under the **Import a Product** button, click **+** next to the version number of Stark & Wayne KAFKA™ for PCF. 
This adds the tile to your staging area.

1. Click the newly added **Stark & Wayne KAFKA™ for PCF** tile.

1. Choose your network under the tab "Assign AZs and Networks".

## <a id="upload-tile"></a>Upload Tile

Download the product tile from the ![Pivotal Network](https://network.pivotal.io)

Click "Import a Product" on the left hand side of your Ops Manager dashboard. Select the `sw-kafka-x.y.z.pivotal` file to upload.

##<a id='install'></a> Install and Configure Stark & Wayne Kafka

The "Stark & Wayne Kafka" product will appear in the "Available Products" list. Click "Add" to move it to the Installation Dashboard.

The first time you upload/install the tile it will appear with a green lower border. This means it is immediately ready to be installed - there is no additional mandatory configuration that you will need to provide.

Return to the Ops Manager dashboard via the "< Installation Dashboard" link at the top left.

The Stark & Wayne Kafka tile is now green and is ready to be installed.

Press "Apply Changes".

## <a id="verification"></a>Verification

The `sw-kafka` service should be available to all users after installation. Observe it in the marketplace:

```
cf marketplace
```

The output will look like:

```
Getting services from marketplace in org system / space sw-kafka as admin...
OK

service      plans      description
sw-kafka     topic      Apache Kafka 0.10
```

### <a id="verification-create-service"></a>Create Service

To confirm that you and your users can create & delete Kafka database:

```
cf create-service sw-kafka topic test-kafka
```

### <a id="verification-delete-service"></a>Delete Service

To destroy the test databases:

```
cf delete-service test-kafka -f
```
