---
title: Example Applications for Stark & Wayne Kafka™ for PCF
---

The community of Cloud Foundry & Kafka users have created some example applications
that can bind to Stark & Wayne Kafka™  service credentials for an Apache Kafka topic.

<table>
	<th>Language</th>
	<th>Source Code</th>
	<tr>
		<td>Java / Spring</td>
		<td>
		<ul>
		<li><a href="https://github.com/dingotiles/dingo-kafka-sample-apps/tree/master/kafka-sample-consumer">Consumer</a></li>
		<li><a href="https://github.com/dingotiles/dingo-kafka-sample-apps/tree/master/kafka-sample-producer">Provider</a></li>
		<li><a href="https://github.com/dingotiles/dingo-kafka-sample-apps/tree/master/kafka-connector">Connector</a></li>
		</ul>
		</td>
	</tr>
</table>

## Credentials

The connection details are provided via `$VCAP_SERVICES` environment variable. An example of the credentials section will be:

<pre class="terminal">
json
{
  "hostname": "10.213.10.35:9092,10.213.10.36:9092,10.213.10.34:9092",
  "topicName": "67f85c81-ee6f-4791-b169-864f2e18d929",
  "uri": "kafka://10.213.10.35:9092,10.213.10.36:9092,10.213.10.34:9092/67f85c81-ee6f-4791-b169-864f2e18d929",
  "zkPeers": "10.213.10.31:2181,10.213.10.32:2181,10.213.10.33:2181"
}
</pre>
