---
title: Example Applications for Stark & Wayne Kafka™ for PCF
---

The community of Cloud Foundry and Kafka users have created some example applications 
that can bind to Stark & Wayne Kafka™  service credentials for an Apache Kafka topic.

<table>
	<th>Language</th>
	<th>Source Code</th>
	<tr>
		<td>Java / Spring</td>
		<td>
		<ul>
		<li><a href="https://github.com/dingotiles/dingo-kafka-sample-apps/tree/master/kafka-sample-consumer">Consumer</a></li>
		<li><a href="https://github.com/dingotiles/dingo-kafka-sample-apps/tree/master/kafka-sample-producer">Provider</a></li>
		<li><a href="https://github.com/dingotiles/dingo-kafka-sample-apps/tree/master/kafka-connector">Connector</a></li>
		</ul>
		</td>
	</tr>
</table>

## Credentials

The connection details are provided via `$VCAP_SERVICES` environment variable. An example of the credentials section will be:

<pre class="terminal">
json
{
 "hostname": "10.244.0.148:9092,10.244.0.149:9092,10.244.0.155:9092",
 "topicName": "17e7faad-7f61-4baf-869d-1b72137bba98",
 "uri": "kafka://10.244.0.148:9092,10.244.0.149:9092,10.244.0.155:9092/17e7faad-7f61-4baf-869d-1b72137bba98"
}
</pre>