
---
title: Release Notes for Stark & Wayne KAFKA™ for PCF
owner: Partners
---

These are release notes for Stark & Wayne KAFKA™ for PCF.

##<a id="ver"></a> v0.7.3

**Release Date:** November 15, 2017

* Initial Beta Release