
---
title: Release Notes for Stark & Wayne kStreams™ for PCF
owner: Partners
---

These are release notes for Stark & Wayne kStreams™ for PCF.

##<a id="ver-0-8-1"></a> v0.8.1


**Release Date:** November 17, 2017

* Includes Apache Kafka v1.0.0
* Some Kafka client libraries prefer to look up Kafka via ZooKeeper, so all new service bindings will now include `zkPeers` as a comma-separated list of ZooKeeper peers. An example of service binding credentials is:

    ```json
    {
      "hostname": "10.213.10.35:9092,10.213.10.36:9092,10.213.10.34:9092",
      "topicName": "67f85c81-ee6f-4791-b169-864f2e18d929",
      "uri": "kafka://10.213.10.35:9092,10.213.10.36:9092,10.213.10.34:9092/67f85c81-ee6f-4791-b169-864f2e18d929",
      "zkPeers": "10.213.10.31:2181,10.213.10.32:2181,10.213.10.33:2181",
    }
    ```

* New service plan `shared` for advanced users, such as Spring Cloud DataFlow, who will dynamically create topics and have their own system for sharing the topic names with producers/consumers.

* Service broker is now run by BOSH as an instance group `kafka-service-broker`, and no longer run as an Pivotal Cloud Foundry application. **After upgrading to v0.8.0** you can subsequently delete the old `starkandwayne-kstreams-broker` application:

    ```
    cf target -o system -s starkandwayne-kstreams
    cf delete starkandwayne-kstreams-broker
    cf delete-service redis-for-kafka
    ```

* Service broker no longer requires Redis, nor the Pivotal Redis for PCF tile, as a dependency. It uses the existing ZooKeeper cluster for its state about service instances and their Kafka topics.
* Several BOSH instance groups are using `bpm` ([BOSH process manager](https://github.com/cloudfoundry-incubator/bpm-release/)) to containerize and run their processes.
* Various improvements to the catalog when viewed within your Pivotal Apps Manager

##<a id="ver-0-7-3"></a> v0.7.3

**Release Date:** November 15, 2017

* Fix to deregistering the service broker during uninstallation

##<a id="ver-0-7-2"></a> v0.7.2

**Release Date:** November 3, 2017

* Initial Beta Release
